.studies-main-flex{
    @extend %dflexcolumn;
    padding-top: 3%;
    main h1{
        @extend %titlefuchsia;
        main h2{
            @extend %textinfo;

        }
    }
}

.studies-section-style{
    padding-top: 3%;
    padding-bottom: 10%;
    section h1{
        @extend %titlefuchsia;
        .cards-studies{
            @extend %dflexcolumn;
            justify-content: center;
            align-items: center;
            gap: 10%;
            padding-top: 3%;
            .style-card-studies {
                background-color:black;
                border-style:groove; 
                border-width: 3px;
                border-color: fuchsia;
                border: radius 3px;
                color: greenyellow;
                font-weight: 700;
            }
        }
    }
}